on early-init
    device mtd@misc 0460 radio diag

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state

    # bluetooth MAC address programming
    chown bluetooth bluetooth /sys/module/board_bravo/parameters/bdaddr
    setprop ro.bt.bdaddr_path /sys/module/board_bravo/parameters/bdaddr

    # bluetooth car dock pin
    chown system system /sys/class/switch/dock/bt_pin

    # Permissions for Liblights.
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/jogball-backlight/brightness
    chown system system /sys/class/leds/jogball-backlight/color
    chown system system /sys/class/leds/jogball-backlight/period
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness

    # enable the GPS
    setprop ro.ril.def.agps.mode 2

    # performance tweaks for flash
    write /sys/block/mtdblock3/bdi/read_ahead_kb 4
    write /sys/block/mtdblock4/bdi/read_ahead_kb 4
    write /sys/block/mtdblock5/bdi/read_ahead_kb 4

    # Power Management
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 245000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 998400
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 40000

    # Wakelock debug
    write /sys/module/wakelock/parameters/debug_mask 7

    # Fast dormancy settings
    setprop ro.ril.fast.dormancy.rule 1
    setprop ro.ril.fd.scron.timeout 4
    setprop ro.ril.fd.scroff.timeout 3

    # GPRS class
    setprop ro.ril.gprsclass 10

# compass/accelerometer daemon
service akmd /system/bin/akmd
    user compass
    group compass misc input

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd /system/bin/dhcpcd -ABKL
    disabled
    oneshot

# bugreport is triggered by the KEY_VOLUMEUP and BTN_MOUSE keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 115 272

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm \
    --baudrate 3000000 --patchram /etc/firmware/bcm4329.hcd /dev/ttyHS0
    user bluetooth
    group bluetooth net_bt_admin
    disabled

service dspcrashd /system/bin/dspcrashd

